@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --background-color: #1e1e2e;
    --text-color: #cdd6f4;
    --accent-color: #f5c2e7;
}

html {
    background-color: var(--background-color);
    font-family: 'Noto Sans', monospace;
    padding-bottom: 50px;
}

a {
    color: var(--text-color);
    font-weight: bold;
}

h2 {
    text-align: center;
    font-family: 'JetBrains Mono',monospace;
    font-size: large;
    color: var(--text-color);
}

.links{
    display: flex;
    justify-content: space-evenly;
    background-color: #11111b;
    padding: 15px 0;
}

.Nombre{
    color: var(--text-color);
}

.Soy{
    color:#89dceb;
}

.neofetch-div {
    display: flex;
    justify-content: space-evenly; /* Distribute image and text */
    align-items: center; /* Vertically align image and text */
    border: 2px solid var(--accent-color);
    border-radius: 50px;
    padding: 10px;
    position: relative;
}

.neofetch-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/zhichaoh/catppuccin-wallpapers/blob/main/os/arch-magenta-blue-1920x1080.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; /* Apply opacity to the background image */
    z-index: -1;
    border-radius: inherit;
    filter: brightness(50%);
}

.neofetch{
    display: inline-block; /* Change display property */
    font-family: 'JetBrains Mono', monospace;
    font-size: small;
    color: var(--text-color);
    resize: both;
    white-space: pre-wrap; /* Enable text wrapping */
}

@media (min-width: 768px) {
    .neofetch-img {
        width: 20%; /* Example: Set the image width to 40% of its parent on non-phone screens */
    }
}

@media (max-width: 768px) {
    .neofetch-div {
        flex-direction: column;
        border-radius: 25px; /* Adjust as needed */
        align-items: baseline;
    }

    .neofetch-img {
        width: 100%;
    }

    .neofetch {
        display: block; /* Change display property */
        font-family: 'JetBrains Mono', monospace;
        font-size: small;
        color: var(--text-color);
        white-space: pre-wrap;
        width: 100%; /* Take full width */
        box-sizing: border-box; /* Include padding and border in width calculation */
    }
}

.Name-div{
    flex-direction: column;
    justify-items: center;
}

#Projects{
    text-align: center;
    font-family: 'JetBrains Mono',monospace;
    font-size: large;
    color: var(--text-color);
    display: block;
}

.projects-Container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: center;
    gap: 5%;
    max-width: 100%;
    padding: 10px;

}

.projects-Yumms {
    border: #f9e2af;
    width: 50%;
    height: 50%;
    background-color: #f9e2af;
    border-radius: 30%;
    color: var(--text-color);  
}

.projects-smmuY {
    border: #f38ba8;
    width: 50%;
    height: 50%;
    background-color: #f38ba8;
    border-radius: 30%;
    color: var(--text-color);
}

.projects-Lorem {
    border: #f38ba8;
    width: 50%;
    height: 50%;
    background-color: #f38ba8;
    border-radius: 30%;
    color: var(--text-color);
}

#porque {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    color: #e0def4;
    text-align: center;
}

ol {
    list-style-position: inside;
    padding: 0;
}

.badges {
    margin: 0 auto;
    max-width: 60%;
}

.certificados {
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    background-color: #11111b;
    color: #e0def4;
    display: flex;
    flex-flow: row nowrap;
    position-anchor: 5%;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: large;
    padding: 5px 0;
}

.footer-text {
    vertical-align: middle;
    height: 25px; /*added height*/
}

footer svg {
    vertical-align: middle;
    height: 25px; /*added height*/
}

.footer-github{
    width: 25px;
    height: 25px;
}
