@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
    background-color: #1e1e2e;
    font-family: 'Noto Sans', monospace;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    font-family: 'JetBrains Mono',monospace;
    font-size: large;
    color: #cdd6f4;
}

.links{
    display: flex;
    justify-content: space-evenly;
    background-color: #11111b;
    padding: 15px 0;
}

.Nombre{
    color: #cdd6f4
}

.Soy{
    color:#89dceb;
}

.neofetch-div{
    display: flex;
    justify-items: center;
    align-items: center;
    border: 2px solid #f5c2e7;
    border-radius: 50px;
    padding: 10px; /* Add padding here */
}

.neofetch{
    display: inline-block; /* Change display property */
    font-family: 'JetBrains Mono', monospace;
    font-size: small;
    color: #cdd6f4;
    resize: both;
    white-space: pre-wrap; /* Enable text wrapping */
}

@media (max-width: 768px) {
    .neofetch-div {
        flex-direction: column;
        border-radius: 25px; /* Adjust as needed */
        align-items: baseline;
    }

    .neofetch-img {
        width: 100%;
    }

    .neofetch {
        display: block; /* Change display property */
        font-family: 'JetBrains Mono', monospace;
        font-size: small;
        color: #cdd6f4;
        white-space: pre-wrap;
        width: 100%; /* Take full width */
        box-sizing: border-box; /* Include padding and border in width calculation */
    }
}

.Name-div{
    flex-direction: column;
    justify-items: center;
}

#Projects{
    text-align: center;
    font-family: 'JetBrains Mono',monospace;
    font-size: large;
    color: #cdd6f4;
    display: block;
}

.projects-Container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: center;
    gap: 5%;
    max-width: 100%;
    padding: 10px;

}

.projects-Yumms {
    border: #f9e2af;
    width: 50%;
    height: 50%;
    background-color: #f9e2af;
    border-radius: 30%;
    color: #cdd6f4;  
}

.projects-smmuY {
    border: #f38ba8;
    width: 50%;
    height: 50%;
    background-color: #f38ba8;
    border-radius: 30%;
    color: #cdd6f4;
}

.projects-Lorem {
    border: #f38ba8;
    width: 50%;
    height: 50%;
    background-color: #f38ba8;
    border-radius: 30%;
    color: #cdd6f4;
}

#porque {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    color: #e0def4;
    text-align: center;
}

ol {
    list-style-position: inside;
    padding: 0;
}

.badges {
    margin: 0 auto;
    max-width: 60%;
}

.certificados {
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    background-color: #11111b;
    color: #e0def4;
    display: flex;
    flex-flow: row nowrap;
    position-anchor: 5%;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: large;
    padding: 5px 0;
}

.footer-text {
    vertical-align: middle;
    height: 25px; /*added height*/
}

footer svg {
    vertical-align: middle;
    height: 25px; /*added height*/
}

.footer-github{
    width: 25px;
    height: 25px;
}
