@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html {
    background-color: #181A1b;
    font-family: 'Noto Sans', monospace;
}

h1{
    display: flex;
    justify-content: center;
    color: #ffffff;
}